*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(340deg, #FE7A00 26.68%, #FF9600 73.32%);
  font-family: Helvetica Neue;



}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helvetica-neue-5/HelveticaNeueMedium.otf')
}

/* ############################# WELCOME PAGE ############################# */

.welcome-img img{
max-width: 100%;
}
.logo {
  text-align: center;
  margin-top: 2.5rem;
}
.welcome-img{
  text-align: center;
  margin-top: 1rem;
  position: relative;
}

.bg-img{
position: absolute;
z-index: -1;
left: 50%;
transform: translate(-50%);
top: 5%
}
.welcome-section{
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.welcome-section-heading{
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);
width: 90%;
margin: auto;

}


.checkbox-container{
  width: 90%;
  margin: auto;
}

.welcome-section-sub-heading{
font-size: 24px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 90%;
margin: auto;
margin-top: 1rem;
color: rgba(255, 255, 255, 1);
margin-bottom: 1.5rem;
}

/* ############### CHECKBOX ################# */
.custom-checkbox {
  display: none;
}

/* Custom checkbox container */
.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

/* Circle styles */
.custom-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-right: 8px;
  position: relative;
  background-color: rgb(241,178,101);
}

/* Checked state */
.custom-checkbox:checked + .custom-circle {
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

/* Correctly positioned tick mark */
.custom-checkbox+ .custom-circle::after {
  content: '';
  width: 8px;
  height: 14px;
  border: solid rgba(255, 150, 0, 1);
  border-width: 0 3px 3px 0;
  position: absolute;
  top: 3px;
  transform: rotate(45deg);
}


.welcome-btn{
  width: 90%;
  margin: auto;
  height: 56px;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;

}
.welcome-btn button{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
font-size: 16px;
font-weight: 700;
line-height: 16px;
letter-spacing: 1px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(35, 34, 34, 1);
background-color: rgba(255, 255, 255, 1);

}
.welcome-btn-gift{
  margin-right: 0.5rem;
  margin-top: -0.2rem;
}
.welcome-btn-arrow{
  position: absolute;
  right: 15px;
  top: 15px;
}
.welcome-section-bottom{
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);    
margin-bottom: 1.5rem;
cursor: pointer;
}


/* ######################## POPUP SECTION ############################ */
.modal-content{
  border-radius: 16px !important;
}
.modal-header{
   border-bottom: none !important;
}
.modal-title{
  text-align: center !important;
  width: 100%;
  font-size: 25px  !important;
font-weight: 500 !important;
line-height: 30px !important;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: -1.5rem;

}

.modal-body{
font-size: 18px !important;
font-weight: 400 !important;
line-height: 20px !important;
text-align: center !important;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: -1.5rem !important;

}

.modal-body ul {
  text-align: left !important;
  margin-top: 1rem;
}
.modal-body ul li{
  margin-top: 0.4rem;
}
.close-btn{
  width: 90%;
  margin: auto;
  height: 56px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  position: relative;
}

.close-btn button{
  border-radius: 15px;
  background: linear-gradient(340deg, #FE7A00 26.68%, #FF9600 73.32%);
  border: none;
  width: 100%;
  height: 100%;

font-size: 18px !important;
font-weight: 700;
line-height: 19px;
letter-spacing: 1px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);


}
.close-btn .popup-close{
  margin-right: 0.5rem;
  margin-top: -0.2rem;
}
.close-btn .popup-arrow{
  position: absolute;
  right: 15px;
  top: 15px;
}

@media (min-width:850px) {
.modal-dialog{
  min-width: 50%;
}
}

@media (max-width:600px) {
  
.modal-body{
font-size: 14px !important;
line-height: 16.8px !important;
}
.modal-title{
  font-size: 16px;
  line-height: 19.2px;
}
.close-btn{
  font-size: 16px;
  line-height: 16px;

}
}


/* ############################ VERIFY SECTION ########################### */

.verify-section{
display: none;
}

.verify-bottom{
  width: 100%;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem 0;
  margin-top: 4rem;
}
.verify-bottom-content{
  width: 90%;
  margin: auto;
}

.verify-bottom-heading{
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(116, 118, 136, 1);

}

.input1-div{
  height: 56px;
  border: 1px solid rgba(228, 223, 223, 1);
  border-radius: 12px;
  margin-top: 1.5rem;
}
.input2-div{
  height: 56px;
  border: 1px solid rgba(228, 223, 223, 1);
  border-radius: 12px;
  margin-top: 1rem;
}
.input1-div input,.input2-div input{
  height: 99%;
  width: 80%;
  border: none;
  padding-left: 1rem;
  outline: none;
}

.input1-div input::placeholder,.input2-div input::placeholder{
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(116, 118, 136, 1);
  
}


/* ############################# OTP SECTION #############################  */

.otp-section{
  display: none;
}
.otp-input-div{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.otp-input-div input{
  width: 48px;
  height: 48px;
  border-radius: 12px;
  margin-right: 0.4rem;
  border: 1px solid rgba(228, 223, 223, 1);
box-shadow: 18.59px 18.59px 37.17px 0px rgba(211, 209, 216, 0.25);
padding: 0.6rem;
font-size: 24px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(35, 34, 34, 1);
outline: none;

}
.otp-input-div input:focus{
border: 1px solid rgba(255, 150, 0, 1); 
}
.otp-input-div input::placeholder{
color: rgba(218, 218, 218, 1);
}

.otp-resend-code{
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(35, 34, 34, 1);

}




.timer-container {
  position: relative;
  text-align: center;
  width: 120px;
  margin: auto;
  margin-top: 1.5rem;
}

.progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.progress-circle svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
}

circle {
  fill: none;
  stroke-width: 4;
}

circle:first-of-type {
  stroke: rgba(226, 226, 226, 1);
}

#progress {
  stroke: rgba(255, 150, 0, 1);
  stroke-dasharray: 302; /* 2 * π * r (r = 48) */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s linear;
}

#timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 150, 0, 1);
  
}
small {
  display: block;
  font-size: 14px;
  color: rgba(31, 41, 53, 1);
  position: absolute;
  top: 55%;
  left: 37%;
font-size: 14px;
font-weight: 500;
line-height: 14px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

#seconds-label {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}




@media (max-width:431px) {
  .otp-input-div input{
      width: 45px;
      height: 45px;
  }
}
@media (max-width:409px) {
  .otp-input-div input{
      width: 42px;
      height: 42px;
  }
}
@media (max-width:386px) {
  .otp-input-div input{
      width: 38px;
      height: 38px;
  }
}

/* ############################# RATING SECTION #############################  */

.rating-section{
  display: none;
}

.rating-heading{
  text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 24px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(35, 34, 34, 1);
margin-bottom: 0.8rem;

}

#star-rating{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.fa-star {
  font-size: 45px;
  color: rgba(228, 223, 223, 1);
  cursor: pointer;
  margin-right: 0.8rem;
}

.selected {
  color: rgba(255, 150, 0, 1);
}

@media (max-width:374px) {
  .fa-star{
      font-size: 40px;
      
  }
}


 /* ############################# REVIEW SECTION #############################  */

 .review-section{
  display: none;
 }

    /* ############################# SUCCESS MESSAGE 1  SECTION #############################  */
.success-message1{
  display: none;
}

.success-message1 .welcome-img{
margin-top: 4rem;
margin-bottom: 5rem;
}

.success-msg-title{
font-size: 32px;
font-weight: 500;
line-height: 38.4px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);
width: 90%;
margin: auto;
}


    /* ############################# SUCCESS MESSAGE 2  SECTION #############################  */


    .success-message2{
      display: none;
  }
  
  .success-message2 .welcome-img{
  margin-top: 4rem;
  margin-bottom: 5rem;
  }
  
.success-msg-title2{
font-size: 24px;
font-weight: 500;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);
margin-top: 1rem;
}
